body {
    text-align: center;
    margin: auto;
    background-color: #222222;
    color: #aaaaaa;
    cursor: default;
    ;
}

.password {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* position: absolute; */
    z-index: 1;
}

.omega-logo {
    margin-top: 10px;
    width: 24vh;
    height: 27vh;
}

input[type=radio]:checked+label {
    color: #0DFF92;
}

.form-control {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
}

input[type=text] {
    width: 220px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: transparent;
    caret-color: white;
    color: white;
}

.changes-form__input-invest-time {
    margin-bottom: 2vh;
}

.btn {
    margin-top: 3vh;
    font-size: 1.4em;
    padding: 1vh 3vh;
}

.changes-form--button-reset {
    margin-left: 5vw;
}